body{
    margin:1.5em;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    font-size:1.3rem;
}
li{
    list-style: none;
}
.hero-img{
    position: absolute;
    top:0;
    left:0;
    background: url("../images/Rectangle\ 1.png");
    background-size: cover;
    background-position-x:20%;
    background-position-y:20%;
    width:100%;
    height:98vh;
    z-index:-1;
    overflow: hidden;
    animation: introload 2s forwards;
}
.logo{
    color:white;
    font-weight: bold;
}
nav{
    display:fixed;
    position: absolute;
    right:0;
    top:0;
    background: white;
    width:50%;
    height:100vh;
    transform:translateX(100%);
    z-index:2;
    display:none;
    transition: transform 2s ease-out;
    ul{
        padding:0;
        margin-top:8em;
    }
    a{
        display: block;
        padding: 0.75rem 1.2rem;
        color:black;
        &:hover{
            background-color: rgb(235, 234, 234);
        }
    }
}
.close{
    width:50px;
    float:right;
    margin:2em;
}
header{
    display:flex;
    justify-content: space-between;
    svg.menu{
        cursor:pointer;
    }
}
section.hero{
    h1{
        font-size: 3rem;
        margin-top: 1em;
        line-height:3.3rem
    }
    .subhead{
        font-size: 1.4rem;
    }
    color:white;
    height:80vh;
    animation: movedown 1s ease-in-out forwards;
    opacity:0;
    margin-bottom:4rem;
    .arrow{
        stroke:white;
        path{fill:white;}
        position: absolute;
        bottom:2rem;
        animation: arrowmove 1s alternate-reverse infinite;
    }
}

.more-info{
    img{
        width:100%;
        object-fit:cover;
        height:11rem;
    }
    .title{
        font-weight: bold;
        font-size:1.25rem;
    }
    .subtitle{
        line-height: 1.5rem;
    }
}
@media only screen and (min-width:680px){
    body{
        margin:1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }
    .more-info{
        img{
            width:100%;
            object-fit:cover;
            height:18rem;
        }
    }   
}
@media only screen and (min-width:920px){
    .menu{
        display:none;
    }
    nav{
        transform:translateX(0%);
        position: unset;
        display: block;
        background: none;
        width:auto;
        height:auto;

        svg.close{
            display:none;
        }
        ul{
            margin:0;
            display:flex;
        }
        a{
            padding:.2rem 1.2rem;
            font-size: .9rem;
            color:white;
            &:hover{
                background: none;
                text-decoration: underline;

            }
        }
    }
    .hero-img{
        left:unset;
        right:0;
        width:50%;
        height:32em;
    }
    .logo{
        color:black;
        span{
            color:red;
        }
    }
    section.hero{
        color:black;
        width:40%;
        height:auto;
        margin-bottom:8.5rem;
        h1{
            margin-top: 1.5rem;
            // margin-bottom: 1rem;
        }
        .subhead{
            font-size: 1.2rem;
            // margin-top:.6rem;
        }
        .arrow{
            stroke:black;
            path{fill:black}
            position: unset;
            height:120px;
        }
    }
    .feature{
        display:grid;
        grid-template-columns: repeat(2,auto);
        gap:3rem;
        margin-bottom:8rem;
        .column-1{
            text-align:right;
            width:25em; 

        }
        img{
            width:25em;
        }
        
    }
    .feature.reverse{
        grid-template-areas:
            "left right";
        .column-1{
            grid-area:right;
            text-align:left;
        }
        img{
            grid-area:left;
        }
    }
}
@media only screen and(min-width:1200px){
    .container{
        width: 1000px;
        margin:0 auto;
    }
    .feature{
        gap:0;
    }
}
@keyframes introload{
    from{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes arrowmove{
    from{
        transform: translateY(-25px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes movedown{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
        opacity:1;

    }
}
.open-nav{
    transform: translatex(0%);
    display:unset;
}